@import "tailwindcss";
@import "tw-animate-css";

body {
  margin: 0;
  padding: 0;
}

@custom-variant dark (&:is(.dark *));
:root {
  --seafoam: 164 41% 93%;
  --petrol: 187 100% 32%;
  --sunshine: 44 100% 61%;
  --papaya: 24 100% 62%;
  --azure: 195 100% 50%;
  --peony: 336 100% 89%;
  --peacock: 158 100% 24%;
  --coral: 0 100% 77%;
  --radius: 0.625rem;
  --background: hsl(0 0% 100%);
  --foreground: hsl(261 80% 13%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(261 80% 13%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(261 80% 13%);
  --primary: hsl(265 80% 21%);
  --primary-foreground: hsl(248 100% 98%);
  --secondary: hsl(265 100% 97%);
  --secondary-foreground: hsl(265 80% 21%);
  --muted: hsl(265 100% 97%);
  --muted-foreground: hsl(264 80% 55%);
  --accent: hsl(265 100% 97%);
  --accent-foreground: hsl(265 80% 21%);
  --destructive: hsl(27 80% 58%);
  --border: hsl(265 100% 93%);
  --input: hsl(265 100% 93%);
  --ring: hsl(261 80% 71%);
  --chart-1: hsl(41 80% 65%);
  --chart-2: hsl(185 80% 60%);
  --chart-3: hsl(227 80% 40%);
  --chart-4: hsl(84 80% 85%);
  --chart-5: hsl(70 80% 80%);
  --sidebar: hsl(248 100% 98%);
  --sidebar-foreground: hsl(261 80% 13%);
  --sidebar-primary: hsl(265 80% 21%);
  --sidebar-primary-foreground: hsl(248 100% 98%);
  --sidebar-accent: hsl(265 100% 97%);
  --sidebar-accent-foreground: hsl(265 80% 21%);
  --sidebar-border: hsl(265 100% 93%);
  --sidebar-ring: hsl(261 80% 71%);
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .text-seafoam {
    color: hsl(var(--seafoam));
  }
  .text-petrol {
    color: hsl(var(--petrol));
  }
  .text-sunshine {
    color: hsl(var(--sunshine));
  }
  .text-papaya {
    color: hsl(var(--papaya));
  }
  .text-azure {
    color: hsl(var(--azure));
  }
  .text-peony {
    color: hsl(var(--peony));
  }
  .text-peacock {
    color: hsl(var(--peacock));
  }
  .text-coral {
    color: hsl(var(--coral));
  }

  .bg-seafoam {
    background-color: hsl(var(--seafoam));
  }
  .bg-petrol {
    background-color: hsl(var(--petrol));
  }
  .bg-sunshine {
    background-color: hsl(var(--sunshine));
  }
  .bg-papaya {
    background-color: hsl(var(--papaya));
  }
  .bg-azure {
    background-color: hsl(var(--azure));
  }
  .bg-peony {
    background-color: hsl(var(--peony));
  }
  .bg-peacock {
    background-color: hsl(var(--peacock));
  }
  .bg-coral {
    background-color: hsl(var(--coral));
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: hsl(261 80% 13%);
  --foreground: hsl(248 100% 98%);
  --card: hsl(265 80% 21%);
  --card-foreground: hsl(248 100% 98%);
  --popover: hsl(265 80% 21%);
  --popover-foreground: hsl(248 100% 98%);
  --primary: hsl(265 100% 93%);
  --primary-foreground: hsl(265 80% 21%);
  --secondary: hsl(257 80% 28%);
  --secondary-foreground: hsl(248 100% 98%);
  --muted: hsl(257 80% 28%);
  --muted-foreground: hsl(261 80% 71%);
  --accent: hsl(257 80% 28%);
  --accent-foreground: hsl(248 100% 98%);
  --destructive: hsl(22 80% 70%);
  --border: hsl(0 0% 100% / 10%);
  --input: hsl(0 0% 100% / 15%);
  --ring: hsl(264 80% 55%);
  --chart-1: hsl(264 80% 49%);
  --chart-2: hsl(162 80% 60%);
  --chart-3: hsl(70 80% 80%);
  --chart-4: hsl(304 80% 63%);
  --chart-5: hsl(16 80% 65%);
  --sidebar: hsl(265 80% 21%);
  --sidebar-foreground: hsl(248 100% 98%);
  --sidebar-primary: hsl(264 80% 49%);
  --sidebar-primary-foreground: hsl(248 100% 98%);
  --sidebar-accent: hsl(257 80% 28%);
  --sidebar-accent-foreground: hsl(248 100% 98%);
  --sidebar-border: hsl(0 0% 100% / 10%);
  --sidebar-ring: hsl(264 80% 55%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
