@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --seafoam: 164 41% 93%;
  --petrol: 187 100% 32%;
  --sunshine: 44 100% 61%;
  --papaya: 24 100% 62%;
  --azure: 195 100% 50%;
  --peony: 336 100% 89%;
  --peacock: 158 100% 24%;
  --coral: 0 100% 77%;
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .text-seafoam {
    color: hsl(var(--seafoam));
  }
  .text-petrol {
    color: hsl(var(--petrol));
  }
  .text-sunshine {
    color: hsl(var(--sunshine));
  }
  .text-papaya {
    color: hsl(var(--papaya));
  }
  .text-azure {
    color: hsl(var(--azure));
  }
  .text-peony {
    color: hsl(var(--peony));
  }
  .text-peacock {
    color: hsl(var(--peacock));
  }
  .text-coral {
    color: hsl(var(--coral));
  }

  .bg-seafoam {
    background-color: hsl(var(--seafoam));
  }
  .bg-petrol {
    background-color: hsl(var(--petrol));
  }
  .bg-sunshine {
    background-color: hsl(var(--sunshine));
  }
  .bg-papaya {
    background-color: hsl(var(--papaya));
  }
  .bg-azure {
    background-color: hsl(var(--azure));
  }
  .bg-peony {
    background-color: hsl(var(--peony));
  }
  .bg-peacock {
    background-color: hsl(var(--peacock));
  }
  .bg-coral {
    background-color: hsl(var(--coral));
  }
}
